*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    .row{margin: 15px 0;}
    .card{
        width: 23%;
        height: 47vh;
        display: inline-block;
        margin: 0 10px;
        border: 1px solid white;
        border-radius:5px;
        text-align: center;
        padding:0 0 15px 0;
        .img {
            img{
                width: 100%;
            }
            position: relative;
            span{
                position: absolute;
                top: 3%;
                right:2%;
                background: black;
                color: white;
                padding:5px 10px;
                border-radius: 4px;
                display: block;
            }
        }
        .card-body{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding:20px 0;
            span{text-decoration: line-through;}
        }
        p{
            padding: 5px 0;
        }
        .btn{
            padding: 10px;
            border-radius: 4px;
            background: white;
            color: black;
            border: 1px solid #212529;
            text-decoration: none;
            &:hover{
                background: black;
                color: white;
            }
        }
        i{color:yellow}
    }
}